body {
	font-family: sans-serif;
	background-color: #FFFFFC;
}

main {
	font-size: 20px;
	margin: 0px auto;
	max-width: 750px;
}

article img {
	margin: 0 auto;
	display: block;
	border: 2px solid #555;
}

nav {
	text-align: right;
}

nav li {
	list-style: none;
	display: inline-block;
}
